<!-- First column -->
<div class="col-md-2" id="search-refine">
    <h3>Refine by</h3>
    <div id="refine-by-city">
        <h4>City</h4>
        <% @refine_by["city"].each do |x_city| %>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="<%= x_city %>">
                    <%= x_city %>
                </label>
            </div>
        <% end %>
    </div>
    <div id="refine-by-zip">
        <h4>ZIP</h4>
        <% @refine_by["zip"].each do |x_zip| %>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="<%= x_zip %>">
                    <%= x_zip %>
                </label>
            </div>
        <% end %>
    </div>
</div>

<!-- Second column -->
<div class="col-md-4" id="search-results">
    <h3><%= @search.length %> results</h3>
    <% @search.each do |result| %>
    <div class="each-result" data-city="<%= result.address.city %>" data-zip="<%= result.address.postal_code %>">
        <span class="org-name">
            <% if result.organization.website %>
                <a href="<%= result.organization.website %>"><%= result.organization.name %></a>
            <% else %>
                <%= result.organization.name %>
            <% end %>
        </span>
        <div class="org-address">
<!--            <i class="fa fa-map-marker" aria-hidden="true"></i>-->
            <%= result.address.address_1 %>, 
            <% if result.address.address_2 %>
                <%= result.address.address_2 %>, 
            <% end %>
            <%= result.address.city %>, 
            <%= result.address.state_province %><%= result.address.postal_code %>
        </div>
        <div class="org-description">
            <%= result.organization.description[0...139] %> ...
        </div>   
    </div>
    <% end %>
</div>

<!-- Third column -->
<div class="col-md-6" id="search-map">
    Map goes here
</div>

<script src="/js/search_results.js"></script>