<!-- First column -->
<div class="col-md-2" id="search-refine">
    <h3>Refine by</h3>
    <div id="refine-by-radius">
        <h4>Distance</h4>   
        <div class="form-inline">
            <div class="form-group">
                <label for="radius">Within</label>
                <select class="form-control" id="radius" placeholder="any">
                   <option value="100">100 miles</option>
                    <option value="50">50 miles</option>
                    <option value="25">25 miles</option>
                    <option value="10">10 miles</option>
                    <option value="5">5 miles</option>
                    <option value="2">2 miles</option>
                </select>
            </div>
        </div> 
    </div>

    <div id="refine-by-service">
        <h4>Category</h4>
        <% @refine_by.each do |category_name, category_count| %>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="<%= category_name %>">
                    <%= category_name %>
                </label>
            </div>
        <% end %>
    </div>
</div>

<!-- Second column -->
<div class="col-md-4" id="search-results">
    <h3 id="number-results"><%= @search.length %> results</h3>
    <% @search.each do |result| %>
        <div class="each-result" 
            data-id="<%= result.id %>"
            data-city="<%= result.address.city %>" 
            data-zip="<%= result.address.postal_code %>" 
            data-latitude="<%= result.latitude %>" 
            data-longitude="<%= result.longitude %>">
            <span class="org-name">
                <% if result.organization.website %>
                    <a href="<%= result.organization.website %>"><%= result.organization.name %></a>
                <% else %>
                    <%= result.organization.name %>
                <% end %>
            </span>
            <div class="org-address">
                <%= result.address.address_1 %>, 
                <% if result.address.address_2 %>
                    <%= result.address.address_2 %>, 
                <% end %>
                <%= result.address.city %>, 
                <%= result.address.state_province %> <%= result.address.postal_code %>
                (<span class="distance">
                </span>)
            </div>
            <div class="org-phone">
                <% if result.phones[0] != nil %>
                    <a href="tel:+1-<%= result.phones[0].number %>">
                        (<%= result.phones[0].number[0..2] %>) <%= result.phones[0].number[4..-1] %>
                    </a>
                <% end %>
            </div>
            <div class="org-categories">
                <% if result.categories %>
                    <ul class="">
                        <% result.categories.each do |category| %>
                            <li class="category"><%= category %></li>
                        <% end %>
                    </ul>
                <% end %>
            </div>
            <div class="org-description">
                <div class="caret full-description">More Info <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                <div class="full-description collapsed">
                    <%= result.organization.description %>
                </div>
                <div class="full-description collapsed caret">
                    Collapse <i class="fa fa-caret-up" aria-hidden="true"></i>
                </div>
            </div>   
        </div>
    <% end %>
</div>

<!-- Third column -->
<div class="col-md-6" id="details-pane">
    <div id="search-map">
    </div>
</div>